Repository gardener/component-cli, pull requests merged in 2021-12, with the labels that each got.

#43 transport cmd foundation
  hack/install-requirements.sh
  pkg/transport/process/extensions/extensions_suite_test.go
  pkg/transport/process/extensions/stdio_executable.go
  pkg/transport/process/extensions/unix_domain_socket_executable.go
  pkg/transport/process/pipeline.go
  pkg/transport/process/pipeline_test.go
  pkg/transport/process/process_suite_test.go
  pkg/transport/process/processors/example/main.go
  pkg/transport/process/processors/processors_suite_test.go
  pkg/transport/process/processors/resource_labeler.go
  pkg/transport/process/processors/resource_labeler_test.go
  pkg/transport/process/processors/sleep/main.go
  pkg/transport/process/types.go
  pkg/transport/process/utils/processor_message.go
  pkg/transport/process/utils/processor_message_test.go
  pkg/transport/process/utils/unix_domain_socket_server.go
  pkg/transport/process/utils/utils_suite_test.go
  pkg/utils/utils.go
  pkg/utils/utils_suite_test.go
  pkg/utils/utils_test.go
Labels: needs/ok-to-test, needs/changes, needs/review, needs/second-opinion, size/xl

#48 filters package
  pkg/transport/filters/access_type_filter.go
  pkg/transport/filters/component_name_filter.go
  pkg/transport/filters/filters_suite_test.go
  pkg/transport/filters/resource_type_filter.go
  pkg/transport/filters/types.go
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/l

#57 prevent DATA RACE error in tests in test environment
  ociclient/test/envtest/envtest.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#54 config package
  pkg/transport/config/config.go
  pkg/transport/config/parsed_config.go
  pkg/transport/filters/filter_factory.go
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/l

#51 oci artifact serialization
  ociclient/client.go
  ociclient/client_test.go
  pkg/testutils/oci.go
  pkg/transport/process/utils/oci_artifact_serialization.go
  pkg/transport/process/utils/oci_artifact_serialization_test.go
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#52 downloaders package
  pkg/transport/process/downloaders/downloader_factory.go
  pkg/transport/process/downloaders/downloaders_suite_test.go
  pkg/transport/process/downloaders/local_oci_blob.go
  pkg/transport/process/downloaders/local_oci_blob_test.go
  pkg/transport/process/downloaders/oci_artifact.go
  pkg/transport/process/downloaders/oci_artifact_test.go
  pkg/transport/process/extensions/utils.go
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#56 uploaders package
  ociclient/client.go
  ociclient/client_test.go
  ociclient/types.go
  pkg/testutils/oci.go
  pkg/transport/process/downloaders/downloaders_suite_test.go
  pkg/transport/process/downloaders/oci_artifact_test.go
  pkg/transport/process/uploaders/local_oci_blob.go
  pkg/transport/process/uploaders/local_oci_blob_test.go
  pkg/transport/process/uploaders/oci_artifact.go
  pkg/transport/process/uploaders/oci_artifact_test.go
  pkg/transport/process/uploaders/uploader_factory.go
  pkg/transport/process/uploaders/uploaders_suite_test.go
  pkg/transport/process/utils/oci_artifact_serialization_test.go
  pkg/transport/process/utils/processor_message.go
  pkg/utils/utils.go
  pkg/utils/utils_test.go
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/xl
