Repository gardener/component-cli, pull requests merged in 2021-08, with the labels that each got.

#23 bugfix #14
  go.mod
  go.sum
  pkg/componentarchive/archive.go
  pkg/componentarchive/archive_test.go
  pkg/componentarchive/testdata/00-component/component-descriptor.yaml
  pkg/componentarchive/testdata/01-component/component-descriptor.yaml
  vendor/github.com/gardener/component-spec/bindings-go/ctf/componentarchive.go
  vendor/modules.txt
Labels: needs/ok-to-test, reviewed/lgtm, size/m

#25 update doc
  docs/README.md
Labels: needs/ok-to-test, reviewed/lgtm, size/s

#30 ref normalization
  ociclient/client.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#32 fix local executable artifact
  .ci/component_descriptor
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#34 verify cached data
  ociclient/cache/cache.go
  ociclient/cache/cache_suite_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/s

#33 add symlink support in input blob
  docs/reference/component-cli_component-archive_resources_add.md
  pkg/commands/componentarchive/input/input.go
  pkg/commands/componentarchive/resources/add.go
  pkg/commands/componentarchive/resources/add_test.go
  pkg/commands/componentarchive/resources/testdata/resources/25-symlink-not.yaml
  pkg/commands/componentarchive/resources/testdata/resources/25-symlink.yaml
  pkg/commands/componentarchive/resources/testdata/resources/25-symlink/file3
  pkg/commands/componentarchive/resources/testdata/resources/25-symlink/symdir/file1
  pkg/commands/componentarchive/resources/testdata/resources/25-symlink/testdir/file1.txt
  pkg/commands/componentarchive/resources/testdata/resources/25-symlink/testdir/sym
  pkg/commands/componentarchive/resources/testdata/resources/25-symlink/testdir/symlinkedDir
  pkg/commands/componentarchive/sources/add.go
Labels: reviewed/lgtm, needs/ok-to-test, size/l

#26 docker manifest v2 schema 1 support
  ociclient/client.go
  ociclient/manifest_v1_conversion.go
  ociclient/manifest_v1_conversion_test.go
  pkg/utils/utils.go
Labels: needs/ok-to-test, needs/second-opinion, size/xl, merge/squash

#29 oci image index support
  ociclient/client.go
  ociclient/client_test.go
  ociclient/copy.go
  ociclient/oci/artifact.go
  ociclient/types.go
  pkg/utils/utils.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xl

#37 Fix tar creation for input blobs
  pkg/commands/componentarchive/input/input.go
Labels: needs/ok-to-test, needs/review, size/xs
