Repository gardener/component-cli, pull requests merged in 2021-09, with the labels that each got.

#40 Integration test for component archive remote copy
  pkg/commands/componentarchive/remote/remote_test.go
  pkg/commands/componentarchive/testdata/01-ca-blob/blobs/sha256:ab894987c426bf8d660826c6fa52a1f351a4c4c094f913862be9c76386bcc32f
  pkg/commands/componentarchive/testdata/01-ca-blob/component-descriptor.yaml
Labels: reviewed/lgtm, needs/ok-to-test, size/m

#41 Unit test create
  pkg/commands/componentarchive/create_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/m

#44 set the insecure option when the host configuration scheme is "http" and "allowPlainHttp" is set to "true"
  ociclient/client.go
Labels: reviewed/lgtm, needs/ok-to-test, size/s

#45 add cross build for darwin arm64
  .ci/component_descriptor
  hack/cross-build.sh
Labels: reviewed/lgtm, needs/ok-to-test, size/xs
